<footer>
    <hr>
    Copyright &copy; Blog Chat Limited
    <br><br>
    <a href="https://www.facebook.com/" target="_blank"><img src="images/fbicon.png" alt="facebookIcon"style="width:4%"></a>  
    <a href="https://www.instagram.com/" target="_blank"><img src="images/instaicon.png" alt="instaicon"style="width:4.5%"></a>
    <a href="https://youtu.be/wh13k-ELKJ0?si=81_2ArwizVt1tcFS" target="_blank"><img src="images/youtubicon.png" alt="youtubicon"style="width:6%"></a>
</footer>