<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head.ejs") %>

<body>
    404

    <%- include ("./partials/nav.ejs") %>

    <% var sMessage="Hello there from EJS" %>
    <%= sMessage %>

    <%- include ("./partials/footer.ejs") %>
</body>

</html>