<!DOCTYPE html>
<html lang="en">
     <!--Head-->
    <%- include ("./partials/head.ejs") %>
<body>  
    <h1>Blog Page</h1>
    <!--NAV BAR-->
    <%- include ("./partials/nav.ejs") %>


    
         <h3>My blog entries...</h3>
         
     <!--FOOTER-->
    <%- include ("./partials/footer.ejs") %>
</body>
</html>