<!DOCTYPE html>
<html lang="en">
     <!--Head-->
    <%- include ("./partials/head.ejs") %>
<body>  
    <h1>Contact Page</h1>
    <!--NAV BAR-->
    <%- include ("./partials/nav.ejs") %>

    <form>
        <h3>Send me a message...</h3>
        <label>Your name</label><br>
        <input type="text" name="" id=""><br>
        <label>Your message</label><br>
        <textarea name="" id="" cols="30" rows="10"></textarea><br>
        <button>Send message</button>
    </form>
    <!--FOOTER-->
    <%- include ("./partials/footer.ejs") %>
     
</body>
</html>