<!DOCTYPE html>
<html lang="en">

<!--Header -->
<%- include ("./partials/head.ejs") %>

    <body>
        <h1>Blog Chat Home</h1>

         <!--nav bar-->
         <div id="navbar">
             <%- include ("./partials/nav.ejs") %> <br>
        </div>   

            <div class="paraText">
                <h3>Welcome to Blog Chat, the best place to have your say without worrying about what others think.</h3>
                <br>
                <div class="container">
                    <div class="colIndex">
                        <img src="images/indexPage.png" alt="indexPage">
                        <!--https://www.istockphoto.com/photo/shocking-offer-black-girl-sharing-secret-with-her-dazed-boyfriend-gm1257704295-368675851?utm_campaign=srp_portrait_v2_photos_40&utm_content=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fwhisper%2F&utm_medium=affiliate&utm_source=pexels&utm_term=whisper-->
                        <!--https://www.pexels.com/photo/multiethnic-friends-gossiping-behind-attentive-classmate-6147139/-->
                        <!--https://www.pexels.com/photo/silhouette-of-man-1480690/-->
                    </div>
                    <br>
                    <p>
                        "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
                         by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that 
                         are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the 
                         same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a 
                         free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, 
                         every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty 
                         or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. 
                         The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other
                          greater pleasures, or else he endures pains to avoid worse pains." 
                          <!--https://www.lipsum.com/-->
                    </p>
                </div>



            </div>
           <!--Footer-->
           <div id="footer">
            <%- include ("./partials/footer.ejs") %>
           </div>
    </body>

</html>